*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 550px;
}
header{
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
}
nav{
    background-color: #444;
    padding: 10px 0;
}